# ==============================
# Project Data
# ==============================

#

# Processed/generated datasets
data/processed/*

# Keep sample datasets in GitHub
!data/sample/
!data/sample/*.csv

# ==============================
# Project Data
# ==============================

# Processed/generated datasets
data/processed/*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db